{% extends '@App/base.html.twig' %}

{% block title %}Letter #{{ letter.id }}{% endblock %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('AppBundle:widgets:nav.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Letter #{{ letter.id|e }}
                    <a href="{{ path('letter_edit', {'id': letter.id}) }}" class="btn btn-primary btn-sm" style="margin-left:20px">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                        Edit
                    </a>
                </h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 30%;">Name</th>
                            <td style="width: 70%;">{{ letter.nameFirst|e }} {{ letter.nameLast|e }}</td>
                        </tr>
                        <tr>
                            <th>Origin year</th>
                            <td>{{ letter.originYear|e }}</td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <td>{{ letter.rating|e }}</td>
                        </tr>
                        <tr>
                            <th>Letter type</th>
                            <td>{{ letter.letterType|e }}</td>
                        </tr>
                        <tr>
                            <th>Recipient category</th>
                            <td>{{ letter.recipientCategory|e }}</td>
                        </tr>
                        <tr>
                            <th>Uploaded on</th>
                            <td>{{ letter.dateCreated|date("D, F d, Y \\a\\t g:i a") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <h3>Comment</h3>
                <div>{{ letter.comment }}</div>
            </div>

            <div class="col-sm-6">

                <h3>Documents</h3>
                {% if documents|length < 1 %}
                    <p>No documents found.</p>
                {% else %}
                    <ul class="list-group">
                        {% for d in documents %}
                            <li class="list-group-item">
                                {% set deleteForm = docDeleteForms[loop.index0] %}
                                {{ form_start(deleteForm) }}
                                    <button type="submit" class="btn btn-xs btn-danger pull-right">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                {{ form_end(deleteForm) }}
                                <a href="{{ path('document_read', {'id': letter.id, 'file': d.name}) }}">
                                    {{ d.name|e }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h4>Upload new file</h4>

                {% set letterId = letter.id %}
                {{ include('AppBundle:widgets:documentform.html.twig') }}
            </div>
        </div>

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
{% endblock %}
